// Resource configuration
params {
    input_paths_csv = "/well/beagrie/users/ysx978/projects/cell_cycle_phase_multiomics/out_ES_G1_G2_S/nextflow_pipeline_out/out_ES_G1_G2_S_mESC_pop_rt_bc_2000_rna_qc_doublets.csv"
    gene_regions_bed = "/well/beagrie/users/ysx978/projects/cell_cycle_phase_multiomics/data/mm10_all_genes/mm10_genes_ucsc.bed"
    rt_tsv = "/well/beagrie/users/ysx978/projects/cell_cycle_phase_multiomics/data/external/GSE102077/GSE102076_Population_repli-seq.txt.gz"
    outdir = "/well/beagrie/users/ysx978/projects/cell_cycle_phase_multiomics/out_ES_G1_G2_S/nextflow_pipeline_out/out_ES_G1_G2_S_mESC_pop_rt_bc_2000_rna_qc_doublets"
    mem_per_cpu = 40.GB
    cpus = 4
    queue = 'long'
}

// Process configuration
process {
    executor = 'slurm'
    stageInMode = 'copy'
    cpus = params.cpus
    memory = { params.mem_per_cpu * task.cpus }  // total memory = per_cpu × cpus
}

// Execution reports
report {
    enabled = true
    file = "${params.outdir}/reports/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/reports/timeline_report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/reports/pipeline_dag.html"
    overwrite = true
}